<h1> Edit Developer profile </h1>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@dev, :html => {class: "form-horizontal" }) do |form| %>
     <div class ="form-group">
        <div class="control-label  col-md-2" >
          <%= form.label :name %>
        </div>
     <div class ="col-md-8">
        <%= form.text_field :name, class: "form-control", placeholder:"Enter Projects's name ", autofocus: true %>
  </div>
</div>
   

    <div class ="form-group">
      <div class="col-md-offset-2  col-md-10" >
         <%= form.submit "Create Project",class:"btn btn-primary btn-lg btn-xlarge" %> 
      </div>
      </div>
   
   <div class="col-md-4 col-md-offset-4">
      [<%= link_to " All developers " , developers_path %> ]       
    <%end %>
      </div>
</div>